:root{
    scroll-behavior: smooth;

}

.p1{
    width: 100%;
    height: 100vh;
    background-image:url(ci1.jpg);
    background-size: cover;
   
  
}
.p2{
    width: 100%;
    height: 100vh;
    background-image:url(ci3.jpeg);
    background-size: cover;
   
  
}
.c1,.c5{
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.767);
}
body{
    
   margin: 0;
   padding: 0;
    font-family: "Open Sans", sans-serif;
    color: black;
    
}
.navbar{
    padding: 20px 0px;
    position: -webkit-sticky;
    background-color: rgba(0, 0, 0, 0);
    margin-left: 0px;
    margin-right: 0px;
    
   display: flex;
   justify-content: space-between;
    height: 50px;
    

}
.navbar button{
    opacity: 0;
}
.line {width: 30px;
height: 3px;
background-color: white;
margin: 6px 0;}

.navbar.fixed{
    
    padding: 20px 0px;
    position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 100;
  border-top: 0;
  background-color: rgb(95, 108, 221);
    margin-left: 0px;
    margin-right: 0px;
    
   display: flex;
   justify-content:space-between;
    height: 50px;
    


}

.i{
    margin-left: 10px;
    width: 50px;
    height: 50px;
    border-radius: 10px;
    float: left;
    

}
.navbar h1{
    margin-top: 12px;
    margin-left: 10px;
    color: white;
    font-family: serif;
   float: left;
    transition: ease-out;
    font-size: 25px;
    font-weight: bolder;
}
.n ul{
    display: flex;
    list-style-type: none;
    
}
.n ul li{
    text-decoration: none;
}
.n ul li a{
    display: block;
    color: white;
    font-size: 16px;
    padding: 0px 35px;
    border-radius: 50px;
    transition: 0.2s;
    margin: 0 5px;
    text-transform: uppercase;
    text-decoration: none;
    
}
.n ul li a:hover{
    color: rgb(168, 160, 160);
   
}


.content{
    transition:  0.5s;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    width: 85%;
    height: 400px;
    display:flex;
  justify-content:space-between;
}
.content h1{
    color:white;
    transition: all 0.5s;
   margin-top: 0;
    font-family:serif;
 font-size: 35px;
 float: none;
}
.content h3{
    
    color:white;
    transition:  0.5s;
    float: none; font-family:serif;
    font-size: 25px;
    margin-top: 110px;
    margin-bottom: 10px;
}
.intro button{
    color: white;
    border: 0px solid;
    border-radius: 10px;
    background-color: rgb(95, 107, 221);
    width: 200px;
    height: 50px;
    float: none;
}
.b i{
    margin-left: 5px;
    font-size: 14px;
}
.b:hover{
   border: 1px solid rgb(95, 107, 221);
   color: rgb(95, 107, 221);
   background-color: rgba(0, 0, 255, 0);
}
.introim{
    width: 600px;
    height: 300px;
}
.ci1{

  filter: brightness(170%);
    box-shadow: 5px 5px 2px 2px rgb(187, 187, 243);
  border-radius: 20px;
  transition:  0.5s;
    width: 600px;
    height: 300px;
}
@media screen and (max-width:1000px) {
    .content{
        transition:  0.5s;
        margin-left:   auto;
        margin-right: auto;
        margin-top: 100px;
        width: 85%;
        height: 400px;
        
    }
    .ci1{

        filter: brightness(170%);
          box-shadow: 5px 5px 2px 2px rgb(187, 187, 243);
        border-radius: 20px;
        transition:  0.5s;
          width: 400px;
          height: 200px;
          float: none;
      }
      .content h1{
        color:white;
        transition: all 0.5s;
        margin-top: 0px;
        font-family:serif;
     font-size: 35px;
     float: none;
    }
}
@media only screen and (max-width:900px){
    .bar{
        display: block;
        cursor: pointer;
        margin-right: 30px;
    }
    .navbar button{
        opacity: 1;
        background-color: rgba(0, 0, 0, 0);
        border:0px;
    }
    .line{
        width: 30px;
        height: 3px;
        background-color: white;
        margin: 6px 0;
    }
    
    
    .n{
        display: none;
        position: absolute;
        top: 90px;
        right: 0;
        left: 0;
        
        height: 300;
        background-color: rgba(95, 108, 221, 0);
        transition: 0.2s;
        text-align: center;
       
    }
    .n ul{
        display: none;
        display: block;
        width: fit-content;
       text-align: center;
        transition: 0.5s;
        margin: -5px auto 10px auto;
        
    }
    .n ul li a{
        margin-top: 5px;
        margin-bottom: 20px;
    }
}
@media only screen and (max-width:750px) {
    .content{
        transition:  0.5s;
        margin-left:   0px;
        margin-right: 0px;
        margin-top: 100px;
        width: 100%;
        height: 400px;
        
    }
    .ci1{

        filter: brightness(170%);
          
        border-radius: 20px;
        transition:  0.5s;
          width: 300px;
          height: 190px;
         float: left;
      }
      .content h1{
        color:white;
        transition: all 0.5s;
        margin-top: 0px;
        font-family:serif;
     font-size: 35px;
     float: none;
    }
    .intro{
        float: left;
    }
    .introim{
        float: left;
    }
}
@media only screen and (max-width:600px) {
    .content{
        transition:  0.5s;
        margin-left:   auto;
        margin-right:auto;
        margin-top: 100px;
        width: 100%;
        height: 400px;
        display: block;
        
        
    }
    .ci1{
        
        margin: 26px -10px;
        filter: brightness(170%);
          
        border-radius: 20px;
        transition:  0.5s;
          width: 300px;
          height: 190px;
         
      }
      .content h1{
        color:white;
        transition: all 0.5s;
        margin-top: 0px;
        font-family:serif;
     font-size: 35px;
     float: none;
    }
    .intro{
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        float: none;
    }
    .introim{
        width: 300px;
        height: 190pz;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        float: none;
    }
    
}
@media only screen and (max-width:450px) {
    .content{
        transition:  0.5s;
        margin-left:   0px;
        margin-right: 0px;
        margin-top: 100px;
        width: 100%;
        height: 400px;
        display: block;
        
        
    }
    
      .content h1{
        color:white;
        transition: all 0.5s;
        margin-top: 0px;
        font-family:serif;
     font-size: 30px;
     float: none;
    }
    
    
    
}
@media only screen and (max-width:400px) {
    .content{
        transition:  0.5s;
        margin-left:   0px;
        margin-right: 0px;
        margin-top: 100px;
        width: 100%;
        height: 400px;
        display: block;
        
        
    }
    
      .content h1{
        color:white;
        transition: all 0.5s;
        margin-top: 0px;
        font-family:serif;
     font-size: 30px;
     float: none;
    }
    
    
}
@media only screen and (max-width:360px) {
    .content{
        transition:  0.5s;
        margin-left:   0px;
        margin-right: 0px;
        margin-top: 100px;
        width: 100%;
        height: 400px;
        display: block;
        
        
    }
    
      .content h3{
        font-size:20px ;
      }
      .intro button{
        width: 170px;
      }
      .content h1{
        color:white;
        transition: all 0.5s;
        margin-top: 0px;
        font-family:serif;
     font-size: 25px;
     float: none;
    }
    
    
    
}
@media only screen and (min-height:800px){
    .intro h3{
        margin-top: 150px;
    }
       
}
@media only screen and (min-height:900px){
    .intro h3{
        margin-top: 200px;
    }
       
}
.content2{
    
   width: 100%;
   height: 100vh;
    margin: 0px;
    text-align: center;
}
.content2 h2{
    margin: 0;
    
    color: white;
    font-family: serif;
    text-transform: capitalize;
}
.content2 h1{
    margin: 0;
    color: white;
    font-family: serif;
    text-transform: capitalize;  
     
}
.ci41.animate__animated,.ci42.animate__animated,.ci43.animate__animated,.ci44.animate__animated{
    width: 230px;
    filter: brightness(130%);
    height: 230px;
    clip-path: polygon(0% 50%, 50% 0%, 100% 50%, 50% 100%);
    opacity: 1;
    border-radius: 10px;
}
.ci41,.ci42,.ci43,.ci44{
    width: 230px;
    height: 230px;
    clip-path: polygon(0% 50%, 50% 0%, 100% 50%, 50% 100%);
    opacity: 0;

}
.ci41,.c41{
    
    margin-top: 10px;
   
}
.i3{
    opacity: 0;

}
.i3.animate__animated{
    opacity: 1;
    
}

.i2
{
    display: flex;
    justify-content: center;
}
.ci42{
    margin-top: -35px;
   
}
.ci43{
   
    margin-top: -35px;
}
.ci44{
  
    margin-top: -24px;
}
@media only screen and (max-width:850px){
    .content2 h2{
        margin: 0;
        font-size: 18px;
        font-weight: lighter;
        color: white;
        font-family: serif;
        text-transform: capitalize;
    }
    .content2 h1{
        margin: 0;
        font-size: 23px;
       font-weight: lighter;
        color: white;
        font-family: serif;
        text-transform: capitalize;
    }
    .ci41.animate__animated,.ci42.animate__animated,.ci43.animate__animated,.ci44.animate__animated{
        width: 200px;
        height: 200px;
        clip-path: polygon(0% 50%, 50% 0%, 100% 50%, 50% 100%);
        opacity: 1;
    }
    .ci41,.ci42,.ci43,.ci44{
        width: 200px;
        height: 200px;
        clip-path: polygon(0% 50%, 50% 0%, 100% 50%, 50% 100%);
        opacity: 0;
    
    }
    .ci41{
        margin-top: 50px;
    }
}
@media only screen and (max-width:650px){
    .content2 h2{
        margin: 0;
        font-size: 16px;
        font-weight: lighter;
        color: white;
        font-family: serif;
        text-transform: capitalize;
    }
    .content2 h1{
        margin: 0;
        font-size: 20px;
       font-weight: lighter;
        color: white;
        font-family: serif;
        text-transform: capitalize;
    }
    .ci41.animate__animated,.ci42.animate__animated,.ci43.animate__animated,.ci44.animate__animated{
        width: 180px;
        height: 180px;
        clip-path: polygon(0% 50%, 50% 0%, 100% 50%, 50% 100%);
        opacity: 1;
    }
    .ci41,.ci42,.ci43,.ci44{
        width: 200px;
        height: 0px;
        clip-path: polygon(0% 50%, 50% 0%, 100% 50%, 50% 100%);
        opacity: 0;
    
    }
    .ci41{
        margin-top: 50px;
        margin-bottom: 14px;
    }
    .ci44{
        margin-top: 14px;
    }
    .ci42,.ci43{
        margin-top: -15px;
    }
}
@media only screen and (max-width:500px){
    .content2 h2{
        margin: 0;
        font-size: 20px;
        font-weight: lighter;
        color: white;
        font-family: serif;
        text-transform: capitalize;
    }
    .content2 h1{
        margin: 0;
        font-size: 30px;
       font-weight: lighter;
        color: white;
        font-family: serif;
        text-transform: capitalize;
    }
    .ci41.animate__animated,.ci42.animate__animated,.ci43.animate__animated,.ci44.animate__animated{
        width: 180px;
        height: 180px;
        clip-path: polygon(0% 50%, 50% 0%, 100% 50%, 50% 100%);
        opacity: 1;
    }
    .ci41,.ci42,.ci43,.ci44{
        width: 200px;
        height: 0px;
        clip-path: polygon(0% 50%, 50% 0%, 100% 50%, 50% 100%);
        opacity: 0;
    
    }
    .ci41{
        margin-top: 50px;
        margin-bottom: 14px;
    }
    .ci44{
        margin-top: 14px;
    }
    .ci42,.ci43{
        margin-top: -15px;
        display: none;
    }
}
@media only screen and (min-height:700px){
    .ci41{
        margin-top: 100px;
        margin-bottom: 14px;
    }
}
@media only screen and (min-height:900px){
    .ci41{
        margin-top: 150px;
        margin-bottom: 14px;
    }
}
.p3,.p5{
    width: 100%;
    height: 100vh;
    background-image:url(ci5.jpeg);
    background-size: cover;
}
.c3{
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.767);
}
.content3{
    width: 100%;
    height: 100vh  ;
   
   
   

}
.cpt{
 
    
    width: 100%;
    height: 100px;
    
    text-align: center;
}
.our{
    text-align: center;
    width: 100%;
    height: 50px;
}
.our h3{
    font-family: serif;
   color:white;
    margin: 0%;
    align-self: center;
}

.cptd.animate__animated{
    width: 280px;
    height: 350px;
    background-color:white;
    border-radius: 15px;
    opacity: 1;

}
.cptd{
    width: 250px;
    height: 0px;
    background-color:white;
    border-radius: 15px;
    opacity: 0;
}
.cptd:hover{
    transition: all 0.5s ;
}
.cpm{
    display: flex;
    justify-content: space-evenly;
}
.cpi{
    border-radius: 15px;
    width: 280px;
    height: 200px;
    border-bottom: 0;
}
.cptd h3  {
    color:rgb(0, 26, 255) ;
    padding-left: 15px;
   text-transform: capitalize;
   font-family: serif;
}
@media only screen and (max-width:850px){
    .cpm{
        display: block;
        
        margin-right: auto;
        justify-content: space-evenly;
        align-content: end;
    }
    .cpi{
        
        border-radius: 15px;
        width: 280px;
        height: 200px;
       
    }
    .cptd{
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 40px;
    }
    .p3{
        width: 100%;
        height: 210vh;
        background-image:url(ci5.jpeg);
        background-size: cover;
    }
    .c3{
        width: 100%;
        height: 210vh;
        background-color: rgba(0, 0, 0, 0.767);
    }
}
@media only screen and (min-height:700px){
    .p3{
        width: 100%;
        height: 190vh;
        background-image:url(ci5.jpeg);
        background-size: cover;
    }
    .c3{
        width: 100%;
        height: 190vh;
        background-color: rgba(0, 0, 0, 0.767);
    }
}
@media only screen and (min-height:800px){
    .p3{
        width: 100%;
        height: 160vh;
        background-image:url(ci5.jpeg);
        background-size: cover;
    }
    .c3{
        width: 100%;
        height: 160vh;
        background-color: rgba(0, 0, 0, 0.767);
    }
}
@media only screen and (min-height:800px){
    .p3{
        width: 100%;
        height: 150vh;
        background-image:url(ci5.jpeg);
        background-size: cover;
    }
    .c3{
        width: 100%;
        height: 150vh;
        background-color: rgba(0, 0, 0, 0.767);
    }
}
.p4{
    width: 100%;
    height: 140vh;
    background-image: url(ci3.jpeg);
    background-size: cover;
}
.c4{
    background-color: rgba(0, 0, 0, 0.767);
    width: 100%;
    height: 140vh;
    background-size: cover;
}
.f1 ,.f3{
    width: 600px;
    height: 200px;
    background-color: white;
    margin-left: auto;
    margin-right: 100px;
    margin-bottom: 30px;
    border-radius: 15px;
    opacity: 0;
   
}
.f1.animate__animated ,.f3.animate__animated{
    width: 600px;
    height: 200px;
    background-color: white;
    margin-left: auto;
    margin-right: 100px;
    margin-bottom: 30px;
    border-radius: 15px;
    opacity: 1;
   
}


.fi{
    float: left;
    width: 250px;
    height: 200px;
    border-radius: 15px;
    margin-right: 15px;
}
.f2{
    text-align: center;
    width: 600px;
    height: 200px;
    background-color: white;
    margin-right: auto;
    margin-left: 100px;
    margin-bottom: 30px;
    border-radius: 15px;
    opacity: 0;
    
}
.f2.animate__animated{
    text-align: center;
    width: 600px;
    height: 200px;
    background-color: white;
    margin-right: auto;
    margin-left: 100px;
    margin-bottom: 30px;
    border-radius: 15px;
    opacity: 1;
    
}
.fi1{
    width: 250px;
    height: 200px;
    border-radius: 15px;
    float: right;
    margin-left: 15px;
}
.f1 h3{
    float: none;
    padding-top: 60px;
    margin-right: 15px;
    font-family: serif;
    text-transform: capitalize;
    color: blue;
}
.f3 h3{
    float: none;
    padding-top: 70px;
    margin-right: 15px;
    font-family: serif;
    text-transform: capitalize;
    color: blue;
}
.f2 h3{
    float: none;
    padding-top: 60px;
    margin-left: 15px;
    font-family: serif;
    text-transform: capitalize;
    color: blue;
}
@media only screen and (max-width:815px){
    .f1.animate__animated,.f2.animate__animated,.f3.animate__animated{
        margin-left: auto;
        margin-right: auto;
        width: 340px;
    }
    .fi{
        float: left;
        width: 150px;
        height: 200px;
        border-radius: 15px;
        margin-right: 15px;
    }
    .fi1{
        width: 150px;
        height: 200px;
        border-radius: 15px;
        float: right;
        margin-left: 15px;
    }
    .f1 h3{
        font-size: 16px;
        float: none;
        padding-top: 35px;
        margin-right: 15px;
        font-family: serif;
        text-transform: capitalize;
        color: blue;
    }
    .f3 h3{
        font-size: 16px;
        float: none;
        padding-top: 70px;
        margin-right: 15px;
        font-family: serif;
        text-transform: capitalize;
        color: blue;
    }
    .f2 h3{
        font-size: 16px;
        float: none;
        padding-top: 40px;
        margin-left: 15px;
        font-family: serif;
        text-transform: capitalize;
        color: blue;
    }
    
}
@media only screen and (min-height:700px){
    .p4{
        width: 100%;
        height: 120vh;
        background-image: url(ci3.jpeg);
        background-size: cover;
    }
    .c4{
        background-color: rgba(0, 0, 0, 0.767);
        width: 100%;
        height: 120vh;
        background-size: cover;
    }
}
@media only screen and (min-height:800px){
    .p4{
        width: 100%;
        height: 110vh;
        background-image: url(ci3.jpeg);
        background-size: cover;
    }
    .c4{
        background-color: rgba(0, 0, 0, 0.767);
        width: 100%;
        height: 110vh;
        background-size: cover;
    }
}
@media only screen and (min-height:900px){
    .p4{
        width: 100%;
        height: 100vh;
        background-image: url(ci3.jpeg);
        background-size: cover;
    }
    .c4{
        background-color: rgba(0, 0, 0, 0.767);
        width: 100%;
        height: 100vh;
        background-size: cover;
    }
}
.ceo.animate__animated{
    margin-left: auto;
    margin-right: auto;
    width: 75%;
    height: 50vh;
    display: flex;
    justify-content: center;
    opacity: 1;
}
.ceo{
    margin-left: auto;
    margin-right: auto;
    width: 75%;
    height: 50vh;
    display: flex;
    justify-content: center;
    opacity: 0;
}
.ceo img{
    width: 400px;
    height: 400px;
    border-radius: 50%;
    float: left;
    margin-right: 50px;
   
}
.p5,.c5{
    height: 100vh;
}
.ceot{
    text-align: center;
    width: 400px;
    height: 400px;
    float: left;
}
.ceot h1{
    margin-top: 40px;
    margin-bottom: 2px;
    text-transform: capitalize;
    font-family: serif;
    color: white;
}
.ceot h2{
    text-transform: lowercase;
    font-family: serif;
    color: white;
}
@media only screen and (max-width:850px){
    .ceo.animate__animated{
        display: flex;
        justify-content: center;
    }
    .ceo img{
        width: 300px;
        height: 300px;
        border-radius: 50%;
        float: left;
        margin-right: 50px;
        margin-top: 70px;
    }
    .p5,.c5{
        height: 120vh;
    }
    .ceot{
        width: 300px;
        height: 300px;
        float: left;
    }
}
@media only screen and (max-width:650px){
    .ceo.animate__animated{
        width: 55%;
        margin-left: auto;
       margin-right: auto;
        display: block;
       
    }
    .ceo img{
        width: 300px;
        height: 300px;
        border-radius: 50%;
        margin-left: auto;
       margin-right: auto;
        margin-top: 70px;
      
       
    }
    .ceot{
        width: 300px;
        height: 300px;
       
    }
    .p5,.c5{
        height: 150vh;
    }
}
@media only screen and (max-width:500px){
    .ceo.animate__animated{
        width: 55%;
        margin-left: auto;
       margin-right: auto;
        display: block;
       
    }
    .ceo img{
        width: 300px;
        height: 300px;
        border-radius: 50%;
       
        margin-left: auto;
       margin-right: auto;
        margin-top: 70px;
      
       
    }
    .ceot{
        width: 300px;
        height: 300px;
       
    }
    .p5,.c5{
        height: 150vh;
    }
}
@media only screen and (max-width:450px){
    .ceo.animate__animated{
        width: 75%;
    }
}
@media only screen and (max-width:360px){
    .ceo.animate__animated{
        width: 85%;
    }
}
@media only screen and (min-height:700px){
    .p5,.c5{
        height: 140vh;
    }
}
@media only screen and (min-height:800px){
    .p5,.c5{
        height: 130vh;
    }
}
@media only screen and (min-height:900px){
    .p5,.c5{
        height: 110vh;
    }
}
footer{
    padding: 20px
}
footer h5{
    font-family: serif;
    color: rgb(112, 111, 110);
}
footer h4{
    font-weight: lighter;
    font-family: serif;
    color: rgb(112, 111, 110);
}